{% extends 'base.html' %}

{% block title %}
Add Class
{% endblock %}

{% block content %}
  <form method="post">
    <label for="class_name">Class Name</label>
    <input type="text" name="class_name" id="class_name" placeholder="Enter Class name">
    <br>
    <label>Enter Start Time</label>
    <br>
    <label for="s_hours">Hour: </label>
    <select name="s_hours" id="s_hours">
        {% for i in range(24) %}
            <option value={{ i }}> {{ i }}</option>
        {% endfor %}
    </select>
    <label for="s_mins">Min: </label>
    <select name="s_mins" id="s_mins">
        {% for i in range(60) %}
            <option value={{ i }}> {{ i }}</option>
        {% endfor %}
    </select>
    <br>
    <label>Enter End Time</label>
    <br>
    <label for="e_hours">Hour: </label>
    <select name="e_hours" id="e_hours">
        {% for i in range(24) %}
            <option value={{ i }}> {{ i }}</option>
        {% endfor %}
    </select>
    <label for="e_mins">Min: </label>
    <select name="e_mins" id="e_mins">
        {% for i in range(60) %}
            <option value={{ i }}> {{ i }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="day">Day: </label>
    <select name="day" id="day">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
    </select>
    <input type="submit" value="Submit">
  </form>
{% endblock %}